.tweet {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  width: 60%;
  height: auto;
  border-radius: 5px;
  padding: 1em 2em;

  // TWEET--MODIFIERS

  &--border-green {
    border: 1px solid #3B964C;
    border-right: 3em solid #3B964C;
  }
  &--border-orange {
    border: 1px solid #FD9D31;
    border-right: 3em solid #FD9D31;
  }
  &--first {
    margin-top: 0;
    margin-bottom: 1em;
  }
  &--middle {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  &--last {
    margin-top: 1em;
    margin-bottom: 0em;
  }
  // TWEET__ELEMENTS

  &__email {
    text-decoration: none;
    font-weight: 900;
    // TWEET-ELEMENT-MODIFIERS
    &--blue {
      color: #538FB4;
    }
  }

}
